@charset "UTF-8";
/*-------------------------------------------------------------------
    파일정의 :레이아웃 스타일
	작성날짜 :YYYY-MM-DD 홍길동
    참고사항 :레이아웃, 상세스타일, 메뉴스타일 분류
    분류순서 :Wrapper > Header > Content > Footer > Navigation
    속성순서 :표시 > 위치 > 넘침/흐름 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
    ## Wrapper
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
    ## Header
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
    ## Content
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    ## Responsive
-------------------------------------------------------------------*/
@media all and (max-width:1050px) {
	.tbl-responsible table td > * {margin:0 3px}

	.tbl-responsible table th,
	.tbl-responsible table td {min-height:30px; margin-bottom:-1px; display:flex; align-items:center}
	.tbl-responsible table th {float:left; text-align:left; padding:6px 20px}
	.tbl-responsible table td {flex-wrap:wrap; padding:6px 15px; border-left:0 none}
	.tbl-responsible table th label.img {line-height:140px}

	.tbl-responsible table colgroup {display:none}
	.tbl-responsible table th {width:180px}
}


/*-------------------------------------------------------------------
    ## Footer
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
    ## Navigation
-------------------------------------------------------------------*/
/* GNB (Global Nav) */

/* UNB (Util Nav) */

/* LNB (Local Nav) */

/* ANB (All Nav) */

/* MNB (Mobile Nav) */

/* SNB (Sub Nav) */

/* FNB (Footer Nav) */

/* QNB (Quick Nav) */
